* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.blue {
  color: #00adee;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
}

.heading {
  font-size: 28px;
  line-height: 37px;
  color: #333333;
}

.text {
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f;
}

.description,
.link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.second-block,
.third-block,
.fifth-block,
.seventh-block {
  background-color: #ffffff;
}

.sixth-block {
  background-color: #fafafa;
}

.third-block_mob-bg,
.seventh-block_mob-bg,
.mob-icon {
  display: none;
}

.first-block {
  background-color: #f4f6f9;
  background-image: url(../media/bg-1.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 0 160px 0;
}

.first-block_content {
  width: 50%;
}

.first-block_heading {
  padding: 130px 0 30px 0;
  font-size: 36px;
  line-height: 48px;
}

.first-block_text {
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 26px;
}

.p-left {
  padding-left: 35px;
}

.second-block {
  background-image: url(../media/bg-2.png);
  background-repeat: no-repeat;
}

.second-block_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0 135px 0;
}

.sceond-block_left-half {
  max-width: 465px;
  max-height: 405px;
  position: relative;
}

.sceond-block_left-half img {
  max-width: 360px;
  max-height: 215px;
}

.sceond-block_left-half .uno {
  z-index: 1;
  position: relative;
}

.sceond-block_left-half .duo {
  z-index: 0;
  position: absolute;
  top: 150px;
  left: 106px;
}

.second-block_right-half {
  width: 50%;
  padding-top: 25px;
}

.second-block_heading {
  padding: 27px 0;
}

.p-bottom {
  padding-bottom: 27px;
}

.third-block {
  background-image: url(../media/bg-3.png);
  background-repeat: no-repeat;
  background-position: right;
}

.third-block_container {
  max-width: 480px;
  padding: 210px 0 170px 0;
}

.third-block_heading {
  padding: 27px 0;
}

.p-bottom-two {
  padding-bottom: 50px;
}

.fourth-block {
  background-image: url(../media/bg-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0 65px 0;
}

.fourth-block_heading {
  text-align: center;
  color: #ffffff;
}

.fourth-block_grid {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: (160px)[3];
      grid-template-rows: repeat(3, 160px);
  grid-column-gap: 90px;
  grid-row-gap: 30px;
}

.fourth-block_grid-item {
  color: #ffffff;
  font-size: 16px;
  line-height: 23px;
}

.fifth-block {
  padding: 60px 0 50px 0;
}

.fifth-block .glider-prev {
  left: 23px;
  top: 50%;
}

.fifth-block .glider-next {
  top: 50%;
  right: 23px;
}

.fifth-block_heading {
  text-align: center;
  padding-bottom: 60px;
}

.fifth-block_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-item {
  max-width: 310px;
  min-height: 160px;
  border: 1px solid #828282;
  border-radius: 5px;
  margin: 0 18px;
}

.carousel-item_profile {
  padding: 15px 13px 13px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-item_profile-name {
  justify-self: flex-start;
}

.carousel-item_comment {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 18px;
  padding: 0 13px;
}

.sixth-block {
  background-color: #fafafa;
  padding: 50px 0 60px 0;
}

.sixth-block_heading {
  text-align: center;
  padding-bottom: 55px;
}

.sixth-block_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 75px;
}

.seventh-block {
  background-image: url(../media/bg-7.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 100px 0;
}

.seventh-block_content {
  width: 50%;
  margin-left: 50%;
}

.secenth-block_content-text {
  padding: 35px 0;
}

.foot {
  background-color: #00adee;
  color: #ffffff;
  padding: 45px 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex .links a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 15px;
  font-size: 16px;
  line-height: 21px;
}

.flex .social a {
  padding-right: 18px;
}

@media (max-width: 1168px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .p-left {
    padding-left: 15px;
  }
  .first-block_content,
  .second-block_right-half,
  .seventh-block_content {
    width: 100%;
  }
  .first-block,
  .second-block,
  .third-block,
  .sixth-block,
  .seventh-block {
    background-image: none;
  }
  .second-block_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .seventh-block_content {
    margin-left: 0;
  }
}

@media (max-width: 801px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
  .carousel-item {
    width: 360px;
    height: 160px;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .flex .social {
    padding: 15px 0;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 475px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  .third-block_mob-bg,
  .seventh-block_mob-bg {
    display: block;
  }
  .first-block {
    padding: 30px 0 60px 0;
  }
  .first-block_heading {
    font-size: 30px;
    line-height: 40px;
    padding: 85px 0 30px 0;
  }
  .first-block_text {
    font-size: 16px;
    line-height: 23px;
  }
  .second-block_inner {
    padding: 55px 0 40px 0;
  }
  .second-block_right-half {
    padding-top: 0;
  }
  .sceond-block_left-half {
    margin-top: 90px;
    background: -webkit-gradient(linear, right top, left top, color-stop(5.16%, #ffffff), color-stop(67.14%, rgba(255, 255, 255, 0))), rgba(255, 255, 255, 0.5);
    background: linear-gradient(270deg, #ffffff 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
    background-image: url(../media/mob-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sceond-block_left-half img {
    max-width: 245px;
    max-height: 150px;
  }
  .sceond-block_left-half .duo {
    left: 75px;
    top: 100px;
  }
  .third-block_container {
    padding: 145px 0 85px 0;
  }
  .third-block_mob-bg {
    background-image: url(../media/mob-bg-2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 565px;
  }
  .fourth-block {
    background-color: #fafafa;
    background-image: none;
  }
  .fourth-block_heading {
    color: #333333;
  }
  .fourth-block_grid-item {
    color: #4f4f4f;
    text-align: center;
  }
  .icon {
    display: none;
  }
  .mob-icon {
    display: block;
    text-align: center;
    width: 45px;
    margin: 0 auto;
  }
  .sixth-block_grid {
    grid-column-gap: 40px;
  }
  .sixth-block_grid-item {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .sixth-block_grid-item:last-of-type {
    -ms-grid-column-align: end;
        justify-self: end;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .seventh-block {
    padding: 20px 0 0 0;
  }
  .seventh-block_mob-bg {
    background-image: url(../media/mob-bg-3.png);
    height: 260px;
    background-repeat: no-repeat;
    margin-top: 40px;
  }
  .flex .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .flex .social {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 10px;
  }
  .flex .social a {
    padding-right: 8px;
  }
  .flex .links {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 30px;
    text-align: unset;
  }
  .flex .links a {
    padding-right: 8px;
  }
}
/*# sourceMappingURL=style.css.map */