$black: #000;
$bgfirst: #f4f6f9;
$bg2357: #ffffff;
$blue: #00adee;
$bgsix: #fafafa;
$textcolor: #4f4f4f;
$headingtext: #333333;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}
.blue {
  color: $blue;
}
.container {
  max-width: 1115px;
  margin: 0 auto;
}
.heading {
  font-size: 28px;
  line-height: 37px;
  color: $headingtext;
}
.text {
  font-size: 16px;
  line-height: 23px;
  color: $textcolor;
}
.description,
.link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.link {
  text-decoration: none;
}
.second-block,
.third-block,
.fifth-block,
.seventh-block {
  background-color: $bg2357;
}
.sixth-block {
  background-color: $bgsix;
}
.third-block_mob-bg,
.seventh-block_mob-bg,
.mob-icon {
  display: none;
}
.first-block {
  background-color: $bgfirst;
  background-image: url(../media/bg-1.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 0 160px 0;
}
.first-block_content {
  width: 50%;
}
.first-block_heading {
  padding: 130px 0 30px 0;
  font-size: 36px;
  line-height: 48px;
}
.first-block_text {
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 26px;
}
.p-left {
  padding-left: 35px;
}
.second-block {
  //background: linear-gradient(to right rgba(255,255,255,0.01), rgba(255,255,255,0.99)), url(../media/ty.png);
  //background-position: left;
  //background-size: 50%;
  background-image: url(../media/bg-2.png);
  background-repeat: no-repeat;
}
.second-block_inner {
  display: flex;
  justify-content: space-between;
  padding: 90px 0 135px 0;
}
.sceond-block_left-half {
  max-width: 465px;
  max-height: 405px;
  position: relative;

  img {
    max-width: 360px;
    max-height: 215px;
  }
  .uno {
    z-index: 1;
    position: relative;
  }
  .duo {
    z-index: 0;
    position: absolute;
    top: 150px;
    left: 106px;
  }
}
.second-block_right-half {
  width: 50%;
  padding-top: 25px;
}
.second-block_heading {
  padding: 27px 0;
}
.p-bottom {
  padding-bottom: 27px;
}
.third-block {
  background-image: url(../media/bg-3.png);
  background-repeat: no-repeat;
  background-position: right;
}
.third-block_container {
  max-width: 480px;
  padding: 210px 0 170px 0;
}
.third-block_heading {
  padding: 27px 0;
}
.p-bottom-two {
  padding-bottom: 50px;
}
.fourth-block {
  background-image: url(../media/bg-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0 65px 0;
}
.fourth-block_heading {
  text-align: center;
  color: $bg2357;
}
.fourth-block_grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 160px);
  grid-column-gap: 90px;
  grid-row-gap: 30px;
}
.fourth-block_grid-item {
  color: $bg2357;
  font-size: 16px;
  line-height: 23px;
}
.fifth-block {
  padding: 60px 0 50px 0;

  .glider-prev {
    left: 23px;
    top: 50%;
  }
  .glider-next {
    top: 50%;
    right: 23px;
  }
}
.fifth-block_heading {
  text-align: center;
  padding-bottom: 60px;
}
.fifth-block_carousel {
  display: flex;
  justify-content: space-between;
}
.carousel-item {
  max-width: 310px;
  min-height: 160px;
  border: 1px solid #828282;
  border-radius: 5px;
  margin: 0 18px;
}
.carousel-item_profile {
  padding: 15px 13px 13px 17px;
  display: flex;
  justify-content: space-between;
}
.carousel-item_profile-name {
  justify-self: flex-start;
}
.carousel-item_comment {
  color: $textcolor;
  font-size: 14px;
  line-height: 18px;
  padding: 0 13px;
}
.sixth-block {
  background-color: $bgsix;
  padding: 50px 0 60px 0;
}
.sixth-block_heading {
  text-align: center;
  padding-bottom: 55px;
}
.sixth-block_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));;
  grid-column-gap: 75px;
}
.seventh-block {
  background-image: url(../media/bg-7.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 100px 0;
}
.seventh-block_content {
  width: 50%;
  margin-left: 50%;
}
.secenth-block_content-text {
  padding: 35px 0;
}
.foot {
  background-color: $blue;
  color: $bg2357;
  padding: 45px 0;
}
.flex {
  display: flex;
  justify-content: space-between;

  .links {
    a {
      text-decoration: none;
      color: $bg2357;
      padding-right: 15px;
      font-size: 16px;
      line-height: 21px;
    }
  }
  .social {
    a {
      padding-right: 18px;
    }
  }
}
@media (max-width: 1168px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .p-left {
    padding-left: 15px;
  }
  .first-block_content,
  .second-block_right-half,
  .seventh-block_content {
    width: 100%;
  }
  .first-block,
  .second-block,
  .third-block,
  .sixth-block,
  .seventh-block {
    background-image: none;
  }
  .second-block_inner {
    flex-direction: column-reverse;
  }
  .seventh-block_content {
    margin-left: 0;
  }
}
@media (max-width: 801px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
  .carousel-item {
    width: 360px;
    height: 160px;
  }
  .flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .social {
      padding: 15px 0;
    }
  }
}
@media (max-width: 680px) {
  .container {
    max-width: 475px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  .third-block_mob-bg,
  .seventh-block_mob-bg {
    display: block;
  }
  .first-block {
    padding: 30px 0 60px 0;
  }
  .first-block_heading {
    font-size: 30px;
    line-height: 40px;
    padding: 85px 0 30px 0;
  }
  .first-block_text {
    font-size: 16px;
    line-height: 23px;
  }
  .second-block_inner {
    padding: 55px 0 40px 0;
  }
  .second-block_right-half {
    padding-top: 0;
  }
  .sceond-block_left-half {
    // max-width: 320px;
    // max-height: 280px;
    margin-top: 90px;
    background: linear-gradient(
        270deg,
        #ffffff 5.16%,
        rgba(255, 255, 255, 0) 67.14%
      ),
      rgba(255, 255, 255, 0.5);
    background-image: url(../media/mob-bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;

    img {
      max-width: 245px;
      max-height: 150px;
    }
    .duo {
      left: 75px;
      top: 100px;
    }
  }
  .third-block_container {
    padding: 145px 0 85px 0;
  }
  .third-block_mob-bg {
    background-image: url(../media/mob-bg-2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 565px;
  }
  .fourth-block {
    background-color: $bgsix;
    background-image: none;
  }
  .fourth-block_heading {
    color: $headingtext;
  }
  .fourth-block_grid-item {
    color: $textcolor;
    text-align: center;
  }
  .icon {
    display: none;
  }
  .mob-icon {
    display: block;
    text-align: center;
    width: 45px;
    margin: 0 auto;
  }
  .sixth-block_grid {
    grid-column-gap: 40px;
  }
  .sixth-block_grid-item {
    justify-self: center;
  }
  .sixth-block_grid-item:last-of-type {
    justify-self: end;
    align-self: end;
  }
  .seventh-block {
    padding: 20px 0 0 0;
  }
  .seventh-block_mob-bg {
    background-image: url(../media/mob-bg-3.png);
    height: 260px;
    background-repeat: no-repeat;
    margin-top: 40px;
  }
  .flex {
    
    .logo {
      order: 1;
    }
    .social {
      order: 2;
      padding-top: 10px;

      a {
        padding-right: 8px;
      }
    }
    .links {
      order: 3;
      padding-top: 30px;
      text-align: unset;
      a {
        padding-right: 8px;
      }
    }
  }
}
