* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.blue {
  color: #00adee;
}

.container {
  max-width: 1115px;
  margin: 0 auto;
}

.heading {
  font-size: 28px;
  line-height: 37px;
  color: #333333;
}

.text {
  font-size: 16px;
  line-height: 23px;
  color: #4f4f4f;
}

.description,
.link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.second-block,
.third-block,
.fifth-block,
.seventh-block {
  background-color: #ffffff;
}

.sixth-block {
  background-color: #fafafa;
}

.first-block {
  background-color: #f4f6f9;
  background-image: url(../media/bg-1.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 0 160px 0;
}

.first-block_heading {
  padding: 130px 0 30px 0;
  font-size: 36px;
  line-height: 48px;
}

.first-block_text {
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 26px;
}

.p-left {
  padding-left: 35px;
}

.second-block {
  background-image: url(../media/bg-2.png);
  background-repeat: no-repeat;
}

.second-block_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px 0 135px 0;
}

.sceond-block_left-half {
  max-width: 465px;
  max-height: 405px;
  position: relative;
}

.sceond-block_left-half img {
  max-width: 360px;
  max-height: 215px;
}

.sceond-block_left-half .uno {
  z-index: 1;
  position: relative;
}

.sceond-block_left-half .duo {
  z-index: 0;
  position: absolute;
  top: 150px;
  left: 106px;
}

.second-block_right-half {
  max-width: 50%;
  padding-top: 25px;
}

.second-block_heading {
  padding: 27px 0;
}

.p-bottom {
  padding-bottom: 27px;
}

.third-block {
  background-image: url(../media/bg-3.png);
  background-repeat: no-repeat;
  background-position: right;
}

.third-block_container {
  max-width: 480px;
  padding: 210px 0 170px 0;
}

.third-block_heading {
  padding: 27px 0;
}

.p-bottom-two {
  padding-bottom: 50px;
}

.fourth-block {
  background-image: url(../media/bg-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0 65px 0;
}

.fourth-block_heading {
  text-align: center;
  color: #ffffff;
}

.fourth-block_grid {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (311px)[3];
      grid-template-columns: repeat(3, 311px);
  -ms-grid-rows: (160px)[3];
      grid-template-rows: repeat(3, 160px);
  grid-column-gap: 90px;
  grid-row-gap: 30px;
}

.fourth-block_grid-item {
  color: #ffffff;
  font-size: 16px;
  line-height: 23px;
}

.fifth-block {
  padding: 60px 0 50px 0;
}

.fifth-block_heading {
  text-align: center;
  padding-bottom: 60px;
}

.sixth-block {
  background-color: #fafafa;
  padding: 50px 0 60px 0;
}

.sixth-block_heading {
  text-align: center;
  padding-bottom: 55px;
}

.sixth-block_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 75px;
}

.seventh-block {
  background-image: url(../media/bg-7.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 100px 0;
}

.seventh-block_content {
  width: 50%;
  margin-left: 50%;
}

.secenth-block_content-text {
  padding: 35px 0;
}

.foot {
  background-color: #00adee;
  color: #ffffff;
  padding: 45px 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex .links a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  font-size: 16px;
  line-height: 21px;
}

.flex .social a {
  padding: 8px;
}
/*# sourceMappingURL=style.css.map */